# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
dist
**/*node_modules

/lighthouse/*.html
# testing
/coverage
packages/libs/

# production
/build
/out

toolsarch-search/

# misc
.DS_Store
env.js
env.local.js
.env.dev*
.env.stage*
.env.prod*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.log*

\.vscode/

.cache

.env.development
.env.production

cypress/videos

static/**/*.json

temp/
.temp/

.certs/

.next
.vercel
**/*.serverless/
**/*.serverless_nextjs/

.next-tf/
.terraform/
**/*terraform.tfstate
**/*terraform.tfstate.*

test-results/
test-configs/playwright/storage-states/*.json
test-configs/playwright/tests-out/*
!test-configs/playwright/tests-out/.gitkeep

tsconfig.tsbuildinfo
tsconfig.linked.json

src/testing/performance/out/**/*.html
src/testing/performance/out/**/*.json

.yarn/cache
/test-results/
/playwright-report/
/playwright/.cache/
